h1 {
    text-align: center;
}

#div-grid {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 1px;
    width: 528px;
    margin: auto;
}

.grid-cell {
    background-color: darkseagreen;
    width: 33px;
    height: 33px;
}

.drawn {
    background-color: black;
}
