h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

#div-buttons {
    text-align: center;
    margin-bottom: 5px;
}

button {
    height: 32px;
    font-size: 15px;
    border-radius: 3px;
}

#div-grid {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 1px;
    max-width: 528px;
    max-height: 528px;
    margin: auto;
}

.grid-cell {
    background-color: darkseagreen;
    width: 33px;
    height: 33px;
}

/*This class is added to each grid item when hovered over */
.drawn {
    background-color: black;
}
